button{
    margin-left: 20px;
    margin-top: 10px;
    width: 80px;
    font-weight: 500;
    font-size: 20px;
    border: 3px solid red;
}
h2{
    font-weight: bold;
    
}
.container{
    background: linear-gradient(pink,red,palegreen,yellow,paleturquoise);
}

.Form-label{
    font-weight: 700;
}