.ash{
    margin-left: 230px;
    
}
button{
    width: 80px;
    font-weight: 500;
    font-size: 20px;
    border: 3px solid red;
}

.Form-label{
    font-weight: 700;
}
h2{
    font-weight: bold;
}
.container{
    background: linear-gradient(pink,red,palegreen,yellow,paleturquoise);
}