<div class="card w-50  ">
    <div class="card-body ">
        <div class="container bg-warning">
            <div class="row justify-content-center">
                <form action="" [formGroup]="ash">
                    <h5 class="card-title">Sign In Here </h5>
                    <div class="Form-Group">
                        <label class="Form-label">Email</label>
                        <input type="email" class="form-control" name="email" formControlName="email"
                            placeholder="enter email">
                            <span class="text-danger"
            *ngIf="!ash.get('email')?.valid && ash.get('email')?.touched">enter valid email </span>
           
                    </div>
                    <div class="Form-Group">
                        <label class="Form-label">Password</label>
                        <input type="password" class="form-control" formControlName="pwd" name="pwd"
                            placeholder="enter password">
                    </div> <br>
                    <button class="btn btn-info" (click)="ashu()">Sign-In</button> <br>
                    <a href="">Forgot pwd?</a> <br>
                    <a href="">Sign-Up</a>
                </form>
            </div>
        </div>

    </div>
</div>