<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" [formGroup]="LogoutForm">
                <h2 class="row justify-content-center">Logout</h2>
                <div class="Form-Group">
                    <label class="Form-label">Email Id</label> <br>
                    <input type="email" class="form-control" name="email" formControlName="email"
                        placeholder="Enter your Email Id">
                    <span class="text-danger"
                        *ngIf="!LogoutForm.get('email')?.valid && LogoutForm.get('email')?.touched">enter valid
                        email</span>
                </div> <br>
                <div class="row justify-content-center">
                    <button class="" (click)="out()">Login</button>
                </div> 
               
                <a href="">Back</a>
                    <a href="" class="ash">Register</a>
            </form>
        </div>
    </div>
</div>