
.form-label{
    font-weight: 700;
}
h2{
    font-weight: bold;
}
button{
    
    width:90px;
    font-weight: 500;
    font-size: 20px;
    border: 3px solid red;
}
.container{
    background: linear-gradient(pink,red,palegreen,yellow,paleturquoise);
}